@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root{
	--bgc: #232326;
	--blue: #010326;
	--yellow: #8c6f18;
	--brown: #594A1B;
	--header-width: 1000px;
	--main-width: 750px;
}
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body{
	font-family: 'Titillium Web', sans-serif;
	/* background: linear-gradient(to bottom , #484850, #232326); */
	background-color: var(--bgc);
	color: var(--yellow);
}
a{
	color: var(--yellow);
	text-decoration: none;
	transition: all .2s ease;
}
a:hover {
	color: white;
}
.link {
	cursor: pointer;
	transition: all .2s ease;
	font-weight: 600;
}
.link:hover {
	color: white;
}
input, textarea, button{
	font-size: 1rem;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	color: var(--yellow);
	margin: 1em;
	padding: 1em;
	outline: none;
	border: none;
}
textarea {
	resize: none;
}
button {
	cursor: pointer;
	transition: all .2s ease;
}
button:hover {
	color: white;
	background-color: var(--yellow);
}


